{% extends 'template.html.twig' %}

{% block content %}
    <div align="center">
        <div class="container">
            <div class="card card-container" style="max-width: 350px; padding: 40px 40px;">
                <h2>Changer le mots de passe</h2>
                <br/><br/>
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.plainPassword) }}
                    </div>
                    <br/>
                    <div class="form-group">
                        {{ form_widget(form.submit) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}