.custom-file {
    display: block;
}
#productpicture_imageFile_delete{
    position: relative;
}
#product_pictures_0_imageFile_delete{
    position: relative;
}
.form-widget-compound label{
    display: block;
}
.field-collection-item-action{
    display: none;
}