{% extends 'template.html.twig' %}

{% block content %}
    <div align="center">
        <div class="container" style="margin: 10% 0">
           <h1>Erreur 404 : {{ msgerr }}</h1>
        </div>
    </div>
{% endblock %}