<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ absolute_url(asset('css/' ~ theme ~ '/bootstrap.min.css')) }}">
<link rel="stylesheet" href="{{ absolute_url(asset('css/hideshow.css')) }}">

<h3>Bienvenu sur Ô'Tako!</h3>
<img src="{{ absolute_url(asset('img/logoPoulpe.png')) }}">
<br>
{% block content %}{% endblock %}