{% extends 'emails/base.html.twig' %}

{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
        <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                    <tbody>
                    <tr>
                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                            <b>Bonjour {{ client.login }}</b>,
                            <br><br>
                            Vous êtes inscrit avec succès.
                            <br><br>
                            veuillez confirmer votre compte en cliquant <a href="{{ url('confirm', { id: client.id, token: client.token}) }}">ici</a>
                            <br><br>
                            Pour vous connecter cliquez <a href="{{ url('login') }}">ici</a>.
                            <br><br>
                            Merci!
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}